<p id="notice"><%= notice %></p>

<h1>Quotes list</h1>
    

<div class="container d-flex flex-wrap">
  <% @quotes.each do |quote| %>
    <div class="card col-sm-12 col-lg-2 m-3 p-2 d-flex align-items-center justify-content-center">
      <p class="h6 m-2"><em><%= quote.content %></em></p>
      <%= link_to 'Show', quote, class:"btn btn-primary" %>
    </div>
  <% end %>
</div>

<br>

