

<h1>Quotes</h1>

<h6>Content</h6>
    

<div class="container d-flex flex-wrap">
  <% @quotes.each do |quote| %>
    <div class="card col-sm-12 col-lg-2 m-3 p-2 d-flex align-items-center justify-content-center">
      <%= quote.content %>
      <%= link_to 'Show', quote %>
    </div>
  <% end %>
</div>

<br>

<%= link_to 'New Quote', new_quote_path %>
